body{
width:100%;
text-align:center;
font-family: Georgia; 
margin:auto;
}
.parallax { 
    /* The image used */
    background-image: url("images/back.jpg");

    /* Set a specific height */
    height: 100%; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 250px;
	background : white;
    margin: auto;
	border-radius: 5%;
    text-align: center;
}

.title {
    color: grey;
    font-size: 18px;
}

button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 50px;
    font-size: 18px;
}

a {
    text-decoration: none;
    font-size: 22px;
    color: black;
}

button:hover, a:hover {
    opacity: 0.7;
}

/* Style the button that is used to open and close the collapsible content */
.collapsible {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 50%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
  background-color: #ccc;
}
.collapsible:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: white;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
}

/* Style the collapsible content. Note: hidden by default */
.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}

#overlay {
    position:none; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100px; /* Full height (cover the whole page) */
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}
img{
border-radius : 5%;
}

#facebook, #quora
{
	float: left;
	display:inline-block;
	margin: auto;
	padding: 20px;
	border-radius:20px;
	width:30%;
}

div.odd
{
	float:left;
	width:45%;
	background:#F9D1BB;
	font-family: Georgia;
	margin:auto;
	border:2px solid red;
	border-radius:10px;
	text-align:left;
	padding-left:15px;
	list-style:none;
}
div.even
{
	float:right;
	width:40%;
	background:#F9D2A8;
	font-family: Georgia;
	list-style:none;
	margin:auto;
	border:2px solid red;
	border-radius:10px;
	text-align:right;
	padding-right:30px;
}
div li:hover
{
	font-style:italic;
}
	
footer
{
	color: black;
 clear: both;
 text-align: center;
 font-family: verdana;
 font-size:20px;
 padding:10px 10px;
} 
